# Build artifacts
build/
bin/
lib/
*.dylib
*.so
*.a

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Raylib
*.o

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
venv/
.venv/

external/*
!external/versions.txt
!external/boost
!external/raylib
!external/imgui
!external/rlImGui
!external/flecs
!external/flatbuffers
!external/eigen

